:root {
  --blanco: #ffffffb0;
  --principal: #2f4858;
  --color-boton: #b67872;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1628181080699-0f81c68d9934?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--principal);
}

#title,
#description {
  text-align: center;
}

#survey-form {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  background-color: var(--blanco);
  padding: 3rem;
  border-radius: 1rem;
  margin: 0 13rem;
}

#survey-form fieldset {
  border: none;
}

#survey-form fieldset legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contenedor-campos .campo input,
#dropdown {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.campo label,
.campo-radio {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo-check {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#area {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
.boton {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.boton-enviar {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-boton);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
