:root {
  --primary-color: hsl(118, 52%, 66%);
  --hero-color: #00456a;
  --projects-fondo: #00a88c;
  --blanco: #fff;
  --fondo-cards: #051937;
  --negro: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.54;
  text-align: center;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--blanco);
  margin-top: 4rem;
  text-align: center;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
  background-color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--secundary-color);
}

#about {
  height: 100vh;
  background-color: var(--hero-color);
}

#navbar {
  background-color: var(--primary-color);
  color: var(--blanco);
  padding: 0rem 3rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul a {
  display: inline-block;
  padding: 1.2rem 2rem;
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.4rem;
  font-weight: 500;
}

#navbar ul a:hover {
  background-color: var(--projects-fondo);
}

#welcome-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  color: var(--blanco);
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.8rem;
  color: var(--blanco-oscuro);
  font-weight: 700;
}

#projects {
  text-align: center;
  width: 100%;
  padding: 7rem 0.1rem;
  background-color: var(--projects-fondo);
}

#projects .proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  margin-top: 2rem;
}

#projects .container > h1 {
  font-size: 2.6rem;
  color: var(--blanco);
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 0.6rem;
  line-height: 1.2;
}

#bottom-line {
  height: 6px;
  background-color: var(--blanco);
  width: 55%;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

#projects .proyectos .box {
  background-color: var(--fondo-cards);
  border: 5px solid var(--fondo-cards);
  border-radius: 3px;
}

#projects .proyectos .box a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

#projects .proyectos .box a p {
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: var(--blanco);
}

.code {
  color: var(--fondo-cards);
  transition: 0.5s all ease;
  font-size: 1.6rem;
}

#projects .proyectos .box:hover .code {
  color: var(--primary-color);
}

#contact {
  height: 80vh;
  background-color: var(--hero-color);
  color: var(--blanco);
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contact .container h1 {
  font-size: 3.4rem;
  font-weight: bolder;
  padding-bottom: 0.1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

#contact .container p {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

#contact .container .social > div a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--blanco);
  margin: 1rem 2rem;
  font-weight: bolder;
  transition: transform 0.5s;
}

#contact .container .social > div a:hover {
  transform: translateY(-5px);
}

#main-footer {
  border-top: solid 4px var(--primary-color);
  padding: 1rem;
  background-color: var(--hero-color);
  color: var(--blanco);
}

#main-footer .container {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

#main-footer .container p {
  font-size: 1.2rem;
}

#main-footer #creator a {
  color: var(--blanco);
  line-height: 1.5;
}

@media (max-width: 600px) {
  #navbar {
    padding: 0rem 1rem;
    justify-content: center;
  }

  #projects .proyectos {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact .container p {
    margin-bottom: 1.5rem;
  }

  #contact .container .social > div a {
    display: block;
    margin: 1rem 1.5rem;
  }

  #main-footer .container {
    flex-direction: column;
  }

  #main-footer #creator {
    margin-top: 1rem;
  }
}
